@page "/"
@inject IMovieService MovieService
@using BioscoopSysteemAPI.DTOs;
@using BioscoopSysteemWeb.Service
@using BioscoopSysteemWeb.Service.LanguageService;
@using Microsoft.Extensions.Localization;
@inject GetTicketInfoService GetTicketInfoService
@inject IStringLocalizer<Index> Localizer
@inject BiosLanguageNotifier BiosLanguageNotifier
@implements IDisposable

<style>
    .holder{
        display: flex;
        flex-direction:row;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
}
    .checkHolders{
        margin-left: -10px;
    }


</style>

<h3>@Localizer["Language"]</h3>
<LanguageSelector/>

<div class="d-flex justify-content-center bg-dark align-content-center flex-lg-wrap" style="width:1500px; height:150px;">
    <div class="container w-50">
        <div class="row mb-2">
@*            <h3>Search</h3>*@
            <input @bind="filter.search" id="search" type="text" class="col-12 col-sm-4 col-lg-6 form-control rounded m-1" placeholder="@Localizer["Movie"]">
                <input @bind="filter.age" id="age" type="number" class="col-3 col-sm-3 col-lg-1 form-control rounded m-1" placeholder="@Localizer["Age"]">
                <button @onclick="() => Filter()" class="col-1 col-lg-1 col-lg-2 mh-100 text-center rounded m-1 btn-primary" style="color:grey">
                    <i class=" border-white text-black-50 font-size h6">@Localizer["Search"]</i>
                </button>
                <button @onclick="() => FilterClear()" class="col-1 col-lg-1 col-lg-2 mh-100 text-center rounded m-1 btn-secondary" sstyle="color:grey">
                    <i class="border-white text-black-50 h6">@Localizer["Clear Filter"]</i>
                 </button>
            </Div>
                <div class="row">
                    <select class="col-6 col-sm-4 form-control rounded m-1" @bind="filter.genre">
                        <option value="">Genre</option>
                        <option value="Actie">@Localizer["Action"]</option>
                        <option value="Avonturen">@Localizer["Adventure"]</option>
                        <option value="Familie">@Localizer["Family"]</option>
                        <option value="Fantasy">@Localizer["Fantasy"]</option>
                        <option value="Horror">@Localizer["Horror"]</option>
                        <option value="Komedie">@Localizer["Comedy"]</option>
                        <option value="Misdaad">@Localizer["Crime"]</option>
                        <option value="Musical">@Localizer["Musical"]</option>
                        <option value="Muziek">@Localizer["Music"]</option>
                        <option value="Thriller">@Localizer["Thriller"]</option>
                        <option value="Romantische">@Localizer["Romantic"]</option>
                        <option value="Romantische Komedie">@Localizer["Romcom"]</option>
                        <option value="Sciencefiction">@Localizer["Science Fiction"]</option>
                        <option value="Tragikomedie">@Localizer["Tragical Comedy"]</option>
                    </select>
                <select class="col-5 col-sm-3 form-control rounded m-1" @bind="filter.language">
                    <option value="">@Localizer["Language"]</option>
                    <option value="English">English</option>
                    <option value="Nederlands">Nederlands</option>
                    <option value="Francais">Francais</option>
                </select>
                    <select class="col-5 col-sm-3 form-control rounded m-1" @bind="filter.specials">
                    <option value="">Specials</option>
                    <option value="Ladies Night">Ladies Night</option>
                    <option value="Horror Night">Horror Night</option>
                    <option value="Marathon">Marathon</option>
                </select>
                <div class="col-1 col-sm-1 checkHolders " style="margin-top:-5px">
                    <div class="holder">
                        <input @bind="filter.threeDee" id="threeDee" type="checkbox" class="col rounded m-1 form-check" placeholder=""> 
                        <p class="m-0 text-white form-check-inline" style="font-size:10px;">3D?</p>
                    </div>
                    <div class="holder" style="margin-top:-8px">
                        <input @bind="filter.subtitles" id="subs" type="checkbox" class="col rounded m-1 form-check" placeholder="">  
                        <p class="m-0 text-white form-check-inline" style="font-size:10px;">@Localizer["Subtitles"]?</p>
                        </Div>
                    </Div>
                </div>
        </div>
    </div>

<PageTitle>Index</PageTitle>
<AuthorizeView Roles="Administration">
    <a href="/AdminPage"><button class="btn btn-primary">Admin</button></a>
</AuthorizeView>

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@Localizer["Order Tickets"]</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <OrderTickets></OrderTickets>
        </ModalBody>
    </ModalContent>
</Modal>




@if (Films == null)
{
    <h3>@Localizer["Movies are loading"]</h3>
}
else
{


    <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap" style="margin-top:35px;">

        @foreach (var movie in Films)
        {
            <div class="card d-flex position-relative flex-column">
                <div class='imgContainer'>
                    <img src="@movie.ImageUrl">
                </div>
                <h4>@movie.Name</h4>
                <Button Color="Color.Primary" Clicked="@ShowModal">@Localizer["Order Tickets"]</Button>
                <a href="/MovieDetails"><button class="btn btn-primary" @onclick="() => GetTicketInfoService.SetMovieId(movie.MovieId)">@Localizer["More Information"]</button></a>
                @* <a href="/MovieDetails"><Button Color="Color.Primary" Clicked="@SetMovieId(movie.MovieId)">Kaartjes bestellen</Button></a> *@
                <div class="content">
                    <p><strong>@Localizer["Description"]: </strong>@movie.Description</p>
                    <p><strong>@Localizer["Price"]: </strong>@movie.Price</p>
                    <p><strong>@Localizer["Age"]: </strong>@movie.AllowedAge</p>
                </div>
            </div>
        }
    </div>
}



@code {

    protected override void OnInitialized() => BiosLanguageNotifier.SubscribeLanguageChange(this);
    public void Dispose() => BiosLanguageNotifier.UnsubscribeLanguageChange(this);

    EventCallback<string> OnChange { get; set; }


    public IEnumerable<MovieReadDTO>? Films { get; set; }
    private Modal modalRef;

    private FilterDTO filter { get; set; } = new FilterDTO();


    // private void SetMovieId(int movieId)
    // {
    //     GetTicketInfoService.SetMovieId(movieId);
    // }

    protected override async Task OnInitializedAsync()
    {
        Films = await MovieService.GetMovies();
    }
    private async Task FilterClear()
    {
        filter.genre = null;
        filter.threeDee = null;
        filter.specials = null;
        filter.age = null;
        filter.search = null;
        filter.language = null;
        filter.subtitles = null;
        Films = await MovieService.GetMovies();
        await InvokeAsync(() =>
               {
                   StateHasChanged();
               });
    }
    private async Task Filter()
    {
        if(filter.genre == "")
        {
            filter.genre = null;
        }
        if(filter.specials == "")
        {
            filter.specials = null;
        }
        if(filter.language == "")
        {
            filter.language = null;
        }
        Films = await MovieService.GetMovieByFilter(filter);
        
        await InvokeAsync(() =>
               {
                   StateHasChanged();
               });
    }

    private Task ShowModal()
    {
        return modalRef.Show();
    }

    private Task HideModal()
    {
        return modalRef.Hide();
    }
}
