@page "/"
@inject IMovieService MovieService
@using BioscoopSysteemWeb.Service
@inject GetTicketInfoService GetTicketInfoService

<PageTitle>Index</PageTitle>

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Kaartjes bestellen</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <OrderTickets></OrderTickets>
        </ModalBody>
    </ModalContent>
</Modal>

@if (Films == null)
{
    <h3>Films worden opgehaald</h3>
}
else
{
    <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">

        @foreach (var movie in Films)
        {
            <div class="card d-flex position-relative flex-column">
                <div class='imgContainer'>
                    <img src="@movie.ImageUrl">
                </div>
                <h4>@movie.Name</h4>
                <Button Color="Color.Primary" Clicked="@ShowModal">Kaartjes bestellen</Button>
                <a href="/MovieDetails"><button class="btn btn-primary" @onclick="() => GetTicketInfoService.SetMovieId(movie.MovieId)">Meer informatie</button></a>
                @* <a href="/MovieDetails"><Button Color="Color.Primary" Clicked="@SetMovieId(movie.MovieId)">Kaartjes bestellen</Button></a> *@
                <div class="content">
                    <p><strong>Omschrijving: </strong>@movie.Description</p>
                    <p><strong>Zaal: </strong>@movie.RoomId</p>
                    <p><strong>Prijs: </strong>@movie.Price</p>
                    <p><strong>Leeftijd: </strong>@movie.AllowedAge</p>
                </div>
            </div>
        }
    </div>
}



@code {
    public IEnumerable<MovieReadDTO>? Films { get; set; }
    private Modal modalRef;

    protected override async Task OnInitializedAsync()
    {
        Films = await MovieService.GetMovies();
    }
    
    private Task ShowModal()
    {
        return modalRef.Show();
    }

    private Task HideModal()
    {
        return modalRef.Hide();
    }
}
