@page "/MovieDetails"
@using BioscoopSysteemWeb.Service
@inject IMovieService MovieService
@inject IModalService modal 
@inject GetTicketInfoService GetTicketInfoService

<PageTitle>Details</PageTitle>

@if (Movie == null)
{
    <h3>Film worden opgehaald</h3>
}
else
{

  <div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">@Movie.Name
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8" style="width: 750px; height: 500px">
        <img class="img-fluid" src="@Movie.ImageUrl" alt="" style="max-height: 500px">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Beschrijving:</h3>
        <p>@Movie.Description</p>
        <h3 class="my-3">Film details</h3>
        <ul>
          <li>Tijd van de film: 130 min</li>
          <li>Datum en tijd: 27 feb 2023, 21:00</li>
          <li>Film in 3D? Ja</li>
          <li>Leeftijdsindicatie: @Movie.AllowedAge</li>
        </ul>
        <button @onclick="@(() => modal.Show<OrderTickets>("Bestellen"))" class="btn btn-primary">Kaartjes bestellen</button>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Andere films</h3>

    <div class="row">
      @if (Films != null)
      {
        foreach (var film in Films)
        {
          <div class="col-md-3 col-sm-6 mb-4" style="width: 500px; height: 300px">
            @* <a href="MovieDetails" @onclick:preventDefault="true" @onclick:stopPropagation="true"> *@
              <img class="img-fluid" src="@film.ImageUrl" alt="" style="max-height: 300px">
            @* </a> *@
          </div>
        }
      }

    </div>
    <!--/.row -->

  </div>
  <!-- /.container -->
}

@code {
  private int MovieId { get; set; }
  public MovieReadDTO? Movie { get; set; }
  public IEnumerable<MovieReadDTO>? Films { get; set; }

  protected override void OnInitialized()
  {
    MovieId = GetTicketInfoService.GetMovieId();
  }
  
  protected override async Task OnInitializedAsync()
  {
    Movie = await MovieService.GetMovie(MovieId);
    Films = await MovieService.GetMovies();
  }
}