@page "/ticket"
@using BioscoopSysteemWeb.Service
@using System.Web
@using BioscoopSysteemWeb.Service.LanguageService;
@using Microsoft.Extensions.Localization;
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
@inject GetTicketInfoService GetTicketInfoService
@inject IStringLocalizer<TicketPage> Localizer
@inject BiosLanguageNotifier BiosLanguageNotifier
@implements IDisposable


<h3>@Localizer["Language"]</h3>
<LanguageSelector />


<h3 class="d-print-none">@Localizer["Payment Succeeded"]Betaling geslaagd</h3>

<p class="d-print-none">@Localizer["Your payment is succesfull. Print your ticket below."]</p>
<button type="button" class="btn btn-primary d-print-none" @onclick="PrintTicket">Print Ticket</button>
<button type="button" class="btn btn-primary" @onclick="PayMollie">Pay with Mollie</button>

@for (int i = 1; i <= TicketAmount; i++)
{
    <Ticket TicketNumber="@i" TotalPrice="TotalPrice" PopcornAmount="PopcornAmount" PaymentMethod="@PaymentMethod"/>
}

@code {

    public void Dispose() => BiosLanguageNotifier.UnsubscribeLanguageChange(this);

    private async Task PrintTicket()
    {
        await Js.InvokeVoidAsync("printPage");
    }

    private async Task PayMollie()
    {
        var httpClient = new HttpClient();
        httpClient.DefaultRequestHeaders.TryAddWithoutValidation("Content-Type", "application/json");

        var mollieAmount = new PaymentRequestModel { Amount = Convert.ToDecimal(TotalPrice) };

        var response = await httpClient.PostAsJsonAsync("http://localhost:5059/api/payments/payWithMollie", mollieAmount);
        
        var paymentLink = await response.Content.ReadAsStringAsync();
        var mollieUrl = paymentLink.Trim('"');
        mollieUrl = HttpUtility.UrlDecode(mollieUrl);
        NavigationManager.NavigateTo(mollieUrl);
    }
    
    private int amount;
    private double price;
    private string paymentMethod;
    
    private int TicketAmount { get; set; }
    private double TotalPrice { get; set; }
    private int PopcornAmount { get; set; }
    private string PaymentMethod { get; set; }
    
    public class PaymentRequestModel
    {
        public decimal Amount { get; set; }
    }

    protected override void OnInitialized()
    {
        BiosLanguageNotifier.SubscribeLanguageChange(this);
        TicketAmount = GetTicketInfoService.GetTicketAmount();
        TotalPrice = GetTicketInfoService.GetTotalPrice();
        PopcornAmount = GetTicketInfoService.GetPopcornAmount();
        PaymentMethod = GetTicketInfoService.GetPaymentMethod();
    }

}
