    <div class="border border-primary p-5 mt-5 mb-5">
        <h1>@MovieTitle</h1>
        <p>Date: @Date</p>
        <p>Venue: @Location</p>
        <p>Row: @Row Seat: @Seat</p>
        <p>Total price: @TotalPrice</p>
        <QRCode Value="@TicketNumber.ToString()"/>
    </div>


@code {
    [Parameter]
    public int TicketNumber { get; set; }
    
    [Parameter]
    public int ReservationId { get; set; }
    
    [Parameter]
    public double TotalPrice { get; set; }

    [Parameter]
    public string MovieTitle { get; set; }
    
    [Parameter]
    public DateTime Date { get; set; }
    
    [Parameter]
    public string Location { get; set; }
    
    [Parameter]
    public int Row { get; set; }
    
    [Parameter]
    public int Seat { get; set; }
}